<div class="row">
    <div class="row">
        <div class="col-md-12" style=" height: 150px; width:100%;background-color: #E5E3E3;">Bande PUB</div>
    </div>
    <div class="row no-gutter panel">

    <div class="col-md-4 col-sm-4">
       <div class="btn1">
            <span class="icon"><span class="glyphicon glyphicon-time"></span></span>
            <span class="txt">Lundi au Vendredi <br>7h30 à 17h00 Non-Stop</span>
      </div>
    </div>

     <div class="col-md-4 col-sm-4">

          <div class="btn2">
            <span class="icon"><span class="glyphicon glyphicon-phone"></span></span>
            <span class="txt">Besoin d'aide? <br>Vous voulez être rappelé ?</span>
          </div>
    </div>
         <div class="col-md-4 col-sm-4">
            <div class="btn3">
             <span class="icon"><span class="glyphicon glyphicon-gift"></span></span>
            <span class="txt">Recevoir des <br>promotions et cadeaux</span>
          </div>
     </div>
     </div>

<div class="row container">

  <div class='cat-button'>

    <ul class="">
      <li>Tous les produits</li>
       <li>Soins et beaute</li>
        <li>Fleur et vegetal</li>
         <li>Metiers de bouche</li>
         <li>Metiers parfumier</li>

    </ul>
     <ul class="">
      <li>Boulangerie et patisserie</li>
       <li>Prestation et hotellerie</li>
        <li>Pret a porter</li>
         <li>Bijoux et montres</li>
         <li>Autres metiers</li>

    </ul>
</div>
  </div>
</div>
    <!--div class="row">
        <div class="col-md-12">
            <div class="col-md-2 metierPadding" ng-repeat="boulot in home.btnMetier"><button  type="button" class="btn btn-default metierBtn"><b>{{boulot.libelle}}<br><span style="font-size: 10px">{{boulot.sub_libelle}}</span></b></button></div>
        </div>
    </div-->
    <div class="row">
        <div class="col-md-9">
            <div class="col-md-3" style="margin-bottom: 5px; margin-top: 5px;" ng-repeat="metier in home.metier">
                <div class="tileImg" ng-click="home.fnImgClick(metier.id)">
                    <img style="width: 200px; height: 200px" src="{{metier.src}}">
                    <span><p>{{metier.description}}</p></span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="encart-droite">
                <ul >
                    <li ng-repeat="instruction in home.instructions">{{instruction.description}}</li>
                </ul>
            </div>
            <div style="margin-top: 15px; padding-top: 10px">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/m6fDf8iqiL4" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
