<div class="container">
    <div class="row" style="margin-right: 0px">
        <div class="col-md-6 col-sm-6">
            <div class='block-image'><img src="assets/img/logo%20exakom.png"></div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class='block-tel'>
                <div class="col-md-12">Nous contacter par email</div>
                <div class="col-md-12">Tél : 00 00 00 00 00</div>
                <div class="col-md-12"><img  src="assets/img/numero_verte.png"></div>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Login</h4>
            </div>
            <div class="modal-body">
                <form name="loginForm" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="email"> Email / Phone </label>
                        <div class="col-sm-7">
                           <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="Email / Phone" name="email" ng-model="login.email" required focus/>
                                <i class="ace-icon fa fa-user"></i>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="password"> Password </label>
                        <div class="col-sm-7">
                           <span class="block input-icon input-icon-right">
                                <input type="password" class="form-control" placeholder="Password" ng-model="login.password" required/>
                                <i class="ace-icon fa fa-lock"></i>
                            </span>
                        </div>
                    </div>
                    <div class="space"></div>
                    <div class="clearfix">
                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right"> </label>
                            <div class="col-sm-7">

                            </div>
                        </div>
                    </div>
                    <div class="space-4"></div>
                    <span class="lbl col-sm-3"> </span><div class="col-sm-7">Don't have an account? <a href="#/signup">Signup</a></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="width-35 pull-right btn btn-md btn-primary" data-dismiss="modal" ng-click="doLogin(login)" data-ng-disabled="loginForm.$invalid">
                    <i class="ace-icon fa fa-key"></i>
                    Login
                </button>
                <button type="button" class="btn btn-danger pull-left" ng-click="logout()">LOGOUT</button>
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="myModel" class="modal fade" data-backdrop="static">
    <div class="modal-dialog" style="width: 75%;height: 500px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><img style="height: 20px;width: 20px;text-align: center;align-content: center" src="{{home.src}}"> {{home.description}}</h4>
            </div>
            <div class="modal-body" style="height: 550px">
                <div class="col-md-3" style="margin-bottom: 5px; margin-top: 5px;" ng-repeat="sample in home.sampleMetier">
                    <div class="tileImg" ng-click="home.fnModelClick(sample.id, sample.id_metier)" >
                        <img style="width: 200px; height: 200px" src="{{sample.src}}">
                        <span><p>{{sample.description}}</p></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a style="color: white" href="#/home">ACCEUIL <span class="sr-only">(current)</span></a></li>
                    <li><a href="#" style="color: white">CONTACT</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" style="color: white" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ESPACE CLIENT <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" style="color: white" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ESPACE REVENDEUR <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right  ">
                    <li><a href="#myModal" data-toggle="modal" style="color: white">

                        <span class="glyphicon glyphicon-user"></span>
                        <!-- /.navbar-collapse <button class="btn-primary btn-sm">Identifiez-vous</button>--></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" style="color: white" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">FR <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-right visible-lg" role="search">
                    <div class="form-group ">
                        <input type="text" class="form-control" placeholder="Recherche">
                    </div>
                    <span class="glyphicon glyphicon-search"  aria-hidden="true"></span>
                </form>

                <form class="navbar-form navbar-center text-center visible-sm visible-md" role="search">
                    <div class="form-group ">
                        <input type="text" class="form-control" placeholder="Recherche">
                    </div>
                    <span class="glyphicon glyphicon-search"  aria-hidden="true"></span>
                </form>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
<div class="row">
    <div class="row">
        <div class="col-md-12" style=" height: 150px; width:100%;background-color: #E5E3E3;">Bande PUB</div>
    </div>
    <div class="row no-gutter panel">

    <div class="col-md-4 col-sm-4">
       <div class="btn1">
            <span class="icon"><span class="glyphicon glyphicon-time"></span></span>
            <span class="txt">Lundi au Vendredi <br>7h30 à 17h00 Non-Stop</span>
      </div>
    </div>

     <div class="col-md-4 col-sm-4">

          <div class="btn2">
            <span class="icon"><span class="glyphicon glyphicon-phone"></span></span>
            <span class="txt">Besoin d'aide? <br>Vous voulez être rappelé ?</span>
          </div>
    </div>
         <div class="col-md-4 col-sm-4">
            <div class="btn3">
             <span class="icon"><span class="glyphicon glyphicon-gift"></span></span>
            <span class="txt">Recevoir des <br>promotions et cadeaux</span>
          </div>
     </div>
     </div>

<div class="row container">

  <div class='cat-button'>

    <ul class="">
      <li>Tous les produits</li>
       <li>Soins et beaute</li>
        <li>Fleur et vegetal</li>
         <li>Metiers de bouche</li>
         <li>Metiers parfumier</li>

    </ul>
     <ul class="">
      <li>Boulangerie et patisserie</li>
       <li>Prestation et hotellerie</li>
        <li>Pret a porter</li>
         <li>Bijoux et montres</li>
         <li>Autres metiers</li>

    </ul>
</div>
  </div>
</div>
    <!--div class="row">
        <div class="col-md-12">
            <div class="col-md-2 metierPadding" ng-repeat="boulot in home.btnMetier"><button  type="button" class="btn btn-default metierBtn"><b>{{boulot.libelle}}<br><span style="font-size: 10px">{{boulot.sub_libelle}}</span></b></button></div>
        </div>
    </div-->
    <div class="row">
        <div class="col-md-9">
            <div class="col-md-3" style="margin-bottom: 5px; margin-top: 5px;" ng-repeat="metier in home.metier">
                <div class="tileImg" ng-click="home.fnImgClick(metier)">
                    <img style="width: 200px; height: 200px" src="{{metier.src}}">
                    <span><p>{{metier.description}}</p></span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="encart-droite">
                <ul >
                    <li ng-repeat="instruction in home.instructions">{{instruction.description}}</li>
                </ul>
            </div>
            <div style="margin-top: 15px; padding-top: 10px">
                <!--iframe width="100%" height="100%" src="https://www.youtube.com/embed/m6fDf8iqiL4" frameborder="0" allowfullscreen></iframe-->
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="process">
        </div>
    </div>
    <div class="container">
        <div class="signature">
        </div>
    </div>
</footer>