<div class="container" style="width: 100%">
    <button type="submit" class="pull-right btn-large btn-md btn-primary" ng-click="logout()">
        <i class="ace-icon fa fa-key"></i>
        LOGOUT
    </button>
    <!--div class="row">
        <div class="col-md-12">
            <div id="main-container">
                <h3 id="clothing">Maquette Customizé</h3>
                <div id="model" class="fpd-container fpd-shadow-2 fpd-topbar fpd-tabs fpd-tabs-side fpd-top-actions-centered fpd-bottom-actions-centered fpd-views-inside-left">
                    <div data-ng-repeat="product in home.productList" class="fpd-product" title="{{product.title}}" data-thumbnail="{{product.thumbnail_src}}">
                        <img ng-repeat="source in  product.img_src" src="{{source.src}}"   title="Base" data-parameters='{"left": 325, "top": 329, "colors": "#d59211", "price": 20}'/>
                    </div>
                    <div class="fpd-design">
                        <div ng-repeat="design in home.productsDesign" class="fpd-category" title="{{design.title}}">
                            <img ng-repeat="image in design.imgsrc" src="{{image.src}}"  title="{{image.title}}" data-parameters='{"zChangeable": true, "left": 215, "top": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "price": 10, "boundingBox": "Base", "autoCenter": true}' />
                        </div>
                    </div>
                </div>
                <br />

                <div class="fpd-clearfix" style="margin-top: 30px;">
                    <div class="api-buttons fpd-container fpd-left">
                        <a href="#" id="print-button" class="fpd-btn">Print</a>
                        <a href="#" id="image-button" class="fpd-btn">Create Image</a>
                        <a href="#" id="checkout-button" class="fpd-btn">Checkout</a>
                        <a href="#" id="recreation-button" class="fpd-btn">Recreate product</a>
                    </div>
                    <div class="fpd-right">
                        <span class="price badge badge-inverse"><span id="thsirt-price"></span> $</span>
                    </div>
                </div>

                <p class="fpd-container">
                    Only working on a webserver:<br />
                    <span class="fpd-btn" id="save-image-php">Save image with php</span>
                    <span class="fpd-btn" id="send-image-mail-php">Send image to mail</span>
                </p>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="comment">Comment:</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="imgScroll">
            <img ng-repeat="lien in home.imgList" src="{{lien.src}}" title="{{lien.title}}" class="imgScroll"/>
        </div>
    </div-->
</div>
